
.nav-link:hover {
  background-color: gray;
  color: red !important;
  transition: background-color 0.3s ease;

}
#nav{
    background-color: black;
    height: 4rem;
}
#navbar {
    z-index: 1;
    position: fixed;
    top:0px;
    width: 100%;
}

.nav-item{
   font-size: 2rem;
    /*color: #61dafb;*/
  padding: 1.5rem;
}
.nav-link {
  color: #ffffff !important; /* Apply the blue color to the nav links */
    border-radius: 20px 20px 20px 20px; /* Apply rounding to the input field */

}



