/* StartGame.css */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    padding: 0 15vh; /* 15vh padding from both sides */
}

.image-container {
    position: relative;
    width: 50vw; /* Adjust width based on your design needs */
    max-width: 30vw; /* Limits width on larger screens */
    height: auto; /* Maintain aspect ratio */
    margin: auto; /* Centers the container horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-image {
    width: 100%;
    height: 100%; /* Height relative to the container */
    object-fit: contain; /* Ensures the image fits without being cut off */
}

.game-link {
    position: absolute;
    bottom: 15%; /* Positioned 15% from the bottom of the image */
    left: 52%; /* Centering the button horizontally */
    transform: translateX(-50%); /* Offset the button by half its width to truly center it */
    width: 60%; /* Increased to 40% of the width of the parent container */
    height: 20%; /* Increased to 30% of the height of the parent container */
    display: flex;
    justify-content: center;
    align-items: center;


     border-radius: 8rem; /* Apply rounding to the input field */
    font-size: 2vw; /* Responsive font size based on viewport width */
    padding: 1vw; /* Padding to increase button size indirectly */
}

